.card {
  background: var(--bg-card);
  color: var(--text-main);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 16px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}